.default-button {
    background-color: #3d6f70;
    color: white;
    padding: 5px 30px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;

    transition: background-color 0.3s ease, color 0.3s ease;
}
.default-button:hover {
    background-color: #366263;
    color: #e9ecef;
    border-radius: 0px;
}
.default-header {
    background-color: #3d6f70;
    color: white;
    padding: 5px 30px;
    border: none;
    border-radius: 0px;

    font-size: 16px;
    font-family: 'Tahoma';

    line-height: 2;
    font-weight: 100;

    transition: background-color 0.3s ease, color 0.3s ease;
}
.default-text-bg {
    background-color: #3d6f70;
    color: white;
    padding: 5px 30px;
    border: none;
    border-radius: 0px;

    font-size: 16px;
    font-family: 'Tahoma';

    transition: background-color 0.3s ease, color 0.3s ease;
}
.default-text {
    color: white;
    padding: 5px 30px;
    border: none;

    font-size: 16px;
    font-family: 'Segoe UI';

    transition: background-color 0.3s ease, color 0.3s ease;
}
.default-body {
    background-color: #255152;

    transition: background-color 0.3s ease, color 0.3s ease;
}
.default-footer {
    background-color: #3d6f70;
    border-radius: 0px;

    margin-top: 50%;
    padding: 100px 15%;
}